{% extends 'base.html.twig' %}

{% import '_macros.html.twig' as macros %}

{% block title %}Links{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="bg-light card-header">
                    <div class="align-items-center row">
                        <div class="col">
                            <h5 class="mb-0">Links</h5>
                        </div>
                        <div class="col-auto text-right">
                            <a href="{{ path('link_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> New</a>
                        </div>
                    </div>
                </div>
                <div class="border-top p-0 card-body">
                    <table class="table mb-0">
                        <tbody>
                            {% for link in links %}
                                {% set linkAddressUrl = url('link_got_to', {'address': link.address}) %}
                                <tr>
                                    <td class="py-3 align-middle">
                                        <div class="media">
                                            {% set faviconUrl = google_s2_favicon(link.target) %}
                                            <img src="{{ faviconUrl }}" alt="{{ link.target }} favicon" width="16" class="mr-3">

                                            <div class="media-body align-items-center">
                                                <h6 class="mt-0 mb-1">
                                                    <a href="{{ path('link_stats', {'id': link.id}) }}">
                                                        {{ linkAddressUrl }}
                                                    </a>
                                                </h6>
                                                <ul class="list-unstyled mb-0">
                                                    <li>
                                                        <small>
                                                            {% if link.title is not null %}
                                                                {{ link.title }}
                                                            {% else %}
                                                                {{ link.target }}
                                                            {% endif %}
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small class="text-muted"><i class="fas fa-calendar-alt mr-1"></i> {{ link.createdAt|localizeddate('medium', 'none') }}</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="py-3 align-middle">{{ link.visitCount }} clicks</td>
                                    <td class="py-3 align-middle text-right">
                                        <button class="btn btn-outline-primary btn-sm mx-1"
                                                data-clipboard-text="{{ linkAddressUrl }}"
                                                data-copied-text="Copied to clipboard!"
                                                data-toggle="tooltip"
                                                title="Copy to clipboard">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                        <button class="btn btn-outline-primary btn-sm mx-1"
                                                data-toggle="modal"
                                                data-target="#qrCodeModal"
                                                data-qr-code-data-uri="{{ qr_code_data_uri(linkAddressUrl) }}"
                                                data-qr-code-download-url="{{ qr_code_path(linkAddressUrl) }}"
                                                data-qr-code-message="{{ linkAddressUrl }}">
                                            <i class="fas fa-qrcode"></i>
                                        </button>
                                        <a href="" class="btn btn-outline-primary btn-sm mx-1">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <button type="button"
                                                class="btn btn-outline-primary btn-sm mx-1"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                data-csrf-token="{{ csrf_token('delete' ~ link.id) }}"
                                                data-action-path="{{ path('link_delete', {'id': link.id}) }}">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
